{% load socialaccount %}
{% load static %}

<header id="f3fbcbb5-8c97-4b2c-b929-df013653c3ef" language="[object Object]"
    menus="[object Object],[object Object],[object Object],[object Object],[object Object]" account="[object Object]"
    class="sc-cc615447-1 ljNrEX sc-6aeafcbc-0 LfzpA">
    <div class="sc-df4c3229-0 rjbfd sc-cc615447-2 CoUIx"><a href="/">
            <div class="sc-cc615447-3 dscwMD"><img
                    src="https://opening-attachments.greetinghr.com/2024-09-26/c26cffc8-83f5-46d4-96e1-fc268b5556a8/NICEGROUP_Primary.png"
                    alt="logo"></div>
        </a>
        <div class="sc-4384c63b-0 fNYjQU"><button class="sc-cc615447-4 hshhzD"><svg width="24" height="24"
                    viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M3 5.5H21V7.5H3V5.5ZM3 11H21V13H3V11ZM21 16.5H3V18.5H21V16.5Z" fill="#222222"></path>
                </svg></button></div>
        <div class="sc-4384c63b-0 dpoYEo">
            <div class="sc-df4c3229-0 hLfgTO">
                <div class="sc-70234ffb-0 faWboY"><a rel="noreferrer" href="/about"><button name="ABOUT"
                            text="[object Object]" background="[object Object]" brandcolor="#002555"
                            id="c6b18cb7-f128-4319-9ce6-289a719332b9" link="[object Object]" shape="square"
                            radius="[object Object]" submenus="" class="sc-cc615447-0 bQCaGa"><span
                                class="sc-86b147bc-0 jYdwkH">ABOUT</span></button></a></div>
                <div class="sc-70234ffb-0 faWboY"><a rel="noreferrer" href="/chat"><button name="chat"
                            text="[object Object]" background="[object Object]" brandcolor="#002555"
                            id="c6b18cb7-f128-4319-9ce6-289a719332b9" link="[object Object]" shape="square"
                            radius="[object Object]" submenus="" class="sc-cc615447-0 bQCaGa"><span
                                class="sc-86b147bc-0 jYdwkH">상담하기</span></button></a></div>
                <!-- <div class="sc-70234ffb-0 faWboY"><a rel="noreferrer" href="/food"><button name="FOOD"
                            text="[object Object]" background="[object Object]" brandcolor="#002555"
                            id="4e0e12dc-9cd3-4e86-8998-9185a8b0ec31" link="[object Object]" shape="square"
                            radius="[object Object]"
                            submenus="[object Object],[object Object],[object Object],[object Object]"
                            class="sc-cc615447-0 cKCfzK"><span class="sc-86b147bc-0 jYdwkH">FOOD</span></button></a>
                </div> -->
                <div class="sc-70234ffb-0 faWboY"><a target="_blank" rel="noreferrer" href="/blog"><button name="푸드백과↗"
                            text="[object Object]" background="[object Object]" brandcolor="#002555"
                            id="1925bebf-4238-447c-8c6b-021a14d39c26" link="[object Object]" submenus="" shape="square"
                            radius="[object Object]" class="sc-cc615447-0 cKCfzK"><span
                                class="sc-86b147bc-0 jYdwkH">푸드백과↗</span></button></a>
                </div>

                <!-- 로그인 상태에 따라 버튼 변경 -->
                {% if user.is_authenticated %}
                <div class="navbar-user">
                    <button id="myDropdownButton" onclick="toggleDropdown()" class="dropdown-button">
                        My
                    </button>

                    <!-- Dropdown 메뉴 -->
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/my_profile">My Profile</a>
                        <a href="{% url 'account_logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="navbar-login">
                    <a href="{% provider_login_url 'google' %}">
                        <button class="login-button">Log In</button>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</header>

