<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>PROFILE PAGE</title>

    <!-- <link rel="stylesheet" href="{% static 'home/css/styles.css' %}"> -->
    <link rel="stylesheet" href="{% static 'home/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/footer.css' %}">
</head>

<body>

    <script>
        // 드롭다운 메뉴를 토글하는 함수
        function toggleDropdown() {
            // 'myDropdown' 요소의 클래스를 토글하여 드롭다운을 보이거나 숨김
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // 문서 클릭 시 드롭다운 닫기
        window.onclick = function(event) {
            // 드롭다운 버튼이 아닌 곳을 클릭했을 때 드롭다운을 닫기
            if (!event.target.matches('#myDropdownButton')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>   

    {% include 'navbar.html' %}

    <section>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-6 text-dark">
                    <h1 class="mt-5">푸닭</h1>
                    <p>Profile 페이지.</p>
                </div>


                <h1>{{ profile.user.username }}의 프로필</h1>
                <p>소개: {{ profile.bio }}</p>
                <p>생일: {{ profile.birthdate }}</p>

                {% if profile.profile_picture %}
                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
                {% endif %}

            </div>
        </div>
    </section>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    

</body>

</html>